* {
    height: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 10px;
    }

body {
    background-color: black;
}

img {
    height: 190px;
    width: 100%;
    margin-bottom: 15px;
    align-items: center; 
}

h1, h2, a, p {
    color: white;
    font-family: georgia;
    }

h1 {
    font-size: 30px;
    border-bottom:lightsteelblue;
    border-bottom: solid 2px rgb(55, 142, 214);

    height: 40px;
}

h2 {
    font-size: 28px;
    height: 35px;
    padding-top: 2px;
}


p {
    font-size: 14px;
    text-align: left;
    padding-top: 2px;
 
    
}

a:link {
    font-size: 25px;
    color: white;
    text-decoration: none;

    margin-top: 12%;

}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(55, 142, 214);
}


footer p {
    font-size: 18px; 
    text-align: center;

    height: 15px;

}

.email {
    margin-top: 12%;
    border-top: solid 0.1px rgb(55, 142, 214);
    padding-top: 17px;
}

